body {
    margin: 0;
    overflow-y: hidden;
}

#info {
    position: absolute;
    left: 0px;
    /* 左からの位置指定 */
    top: 0px;
    /* 上からの位置指定 */
}

#flex {
    position: absolute;
    left: 0px;
    /* 左からの位置指定 */
    top: 0px;

    width: fit-content;
    height: fit-content;

    /* 水平垂直方向にリサイズ可能 */
    resize: both;

    /* resizeを指定するため 'visible'以外を指定 */
    overflow: hidden;
}