* { 
    margin: 0px; 
    padding: 0px; 
}

input[type="text"] {
    margin: 2px 0px 0px 2px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
}
input[type="text"]:focus {
    border: 1px solid #2468a0;
    background-color: #444;
    outline: 0;
}

button{
    margin: 2px 0px 0px 2px;
    background-color: #444;
    border: 1px solid #555;
    color: #fff;
}

button:hover {
    border: 1px solid #2468a0;
}
button:active{
    border: 1px solid #010203;
    background-color: #222;
    border: 1px solid #555;
    color: #444;
}

button.select{
    border: 1px solid #2468a0;
}


.pallet{
    margin: 3px;
    display:inline;
    float:left;
    background-image: url('./icon.png');
    width: 32px;
    height: 32px;
    border: 1px solid #2468a0;
}

.right {
    margin: 2px 2px 0px 0px !important;
    float: right
}

.hide {
    visibility: hidden;
}

body {
    margin: 0;
    overflow-y: hidden;
}

#info {
    position: absolute;
    left: 0px;
    /* 左からの位置指定 */
    top: 0px;
    /* 上からの位置指定 */
}



.topLeft {
    position: absolute;
    left: 0px;
    top: 0px;
}

#state{
    position:absolute;
    top:0px;
    right:0px;
}

#flex {
    position: absolute;
    left: 0px;
    /* 左からの位置指定 */
    top: 0px;

    width: fit-content;
    height: fit-content;

    /* 水平垂直方向にリサイズ可能 */
    resize: both;

    /* resizeを指定するため 'visible'以外を指定 */
    overflow: hidden;
}

table{
    table-layout: fixed;
}

table tr td:hover {
    background-color: #ffdaf8;
}

table,
td {
    border: 1px solid #333;
    width: 64px;
    height: 64px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}